.nouvelles-card {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-bottom: 2px solid #fff;

  @media (max-width: 768px) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-bottom: none;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
  }
}