.layout {
  padding: 3vw 0 3vw 4vw;
  position: relative;
  overflow: hidden;
}

.blur-circle {
  position: absolute;
  width: 30vw;
  height: 30vw;
  background: #FBB900;
  filter: blur(10vw);
  opacity: 1;
  z-index: -100;
  border-radius: 50%;
  animation: spin 10s linear infinite;

  &:first-of-type {
    top: -15vw;
    right: -15vw;
  }

  &:last-of-type {
    bottom: -15vw;
    left: -15vw;
  }
}

@keyframes spin {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

    100% {
        transform: scale(1);
    }
}