@import 'stylesheet.css';

html {
  font-size: clamp(14px, calc(11px + 0.35vw), 50px);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #000;
  color: #fff;
  width: 100%;
  font-family: "Franklin Gothic Book";
}


